* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', Arial;
}
body {
	background-color: rgba(164, 244, 66, 0.7);
}
h1, p {
	text-align: center;
}
h1 {
	padding: 10px 0;
}
p {
	margin-bottom: 20px;
}
.label_div {
	justify-self: end;
}
.form_div {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 20px 20px;
}
.wrapper_div {
	background-color: rgba(255,255,255,0.8);
	margin: 20px auto;
	padding: 40px 20px;
	border-radius: 5px;
}
.radio_label {
	grid-row: 5/8;
}
.check_label {
	grid-row: 8/12;
}
.submit_button {
	grid-column: 1/3;
	justify-self: center;
}
.rowspan_div {
	text-align: right;
}
.input_item {
	border: 1px solid rgba(192,192,192,1);
	height: 30px;
	font: 12px Arial;
	padding-left: 5px;
	border-radius: 3px;
	width: 50%;
}